*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scrollbar-width: none; */
}
*::-webkit-scrollbar{
    width: 0px;
}

body{
    background-color: rgb(22, 22, 22);
    color: white;
}

.heading{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    margin: 20px;
    margin-bottom: 40px;
    color: white;
}

.wallpaperCarousel{
    margin-top: 60px;
}

.moviesContainer{
    overflow-x: scroll;
    width: 95%;
}

.moviesContainer .moviesInnerContainer{
    position: relative;
}
.moviesContainer .bookmark{
    position: absolute;
    left: 16px;
    top: 17px;
    fill: rgba(0, 0, 0, 0.539);
    transition: all 0.3s ease-out;
    /* z-index: 400; */
}


.moviesContainer .movies{
    background-color: rgb(19, 19, 19);
    padding: 10px 6px;
    padding-top: 0;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    width: 162px;
    height: 315px;
    /* position: relative; */
}
.moviesContainer .movies:hover{
    background-color: rgb(229, 82, 82);
}
.moviesContainer .movies .poster{
    border-radius: 2px;
}



.moviesContainer .movies .rating{
    width: 100%;
    justify-content: flex-start;
    padding: 5px;
    gap: 10px;
    font-family: sans-serif;
}
.moviesContainer .movies .rating .rateNum{
    position: relative;
    top: 1px;
    font-family: 'Roboto';
    font-size: medium;
}
.moviesContainer .movies .movieTitle{
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 150px;
}






.celebsContainer{
    overflow-x: scroll;
    width: 95%;
}
.celebsContainer .celebs{
    margin: 10px 5px;
    gap: 20px;
    /* background-color: blue; */
    padding: 10px;
    transition: all 0.3s ease-out;
    border-radius: 7px;
}
.celebsContainer .celebs:hover{
    /* background-color: rgb(229, 82, 82); */
    background-color: rgb(47, 47, 47);
}
.celebsContainer .celebs img {
    border-radius: 200px;
}
.celebsContainer .celebs .celebName{
    /* padding-top: 30px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 150px;
}