*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scrollbar-width: none; */
}
*::-webkit-scrollbar{
    width: 0px;
}
body{
    /* background-color: black; */
    color: rgba(255, 255, 255, 0.744);
    background-image: url("/images/index_page.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ........................................................................... */
/* ........................................................................... */
/* ........................................................................... */

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container div{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 15px;
    color: black;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.container div:hover{
    background-color: rgba(240, 248, 255, 0.496);
}