*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scrollbar-width: none; */
}
*::-webkit-scrollbar{
    width: 0px;
}

body{
    background-color: black;
    color: white;
    
}


body .searchBox{
    margin: 20px 0;
    
}

.searchBox .searchBox{
    height: 35px;
    width: 250px;
    border: none;
    outline: none;
    background-color: rgb(35, 35, 35);
    border-radius: 6px;
    padding: 7px;
    color: rgb(255, 240, 240);
}

.container .castBox{
    background-color: rgb(19, 19, 19);
    padding: 10px 6px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    width: 162px;
    height: 290px;
}
.container .castBox:hover{
    background-color: rgb(27, 27, 27);
}
.container .castBox .castName{
    padding-top: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 150px;
}