<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_page.css">
    <link rel="stylesheet" href="/css/util.css">
    <title>Admin page</title>
</head>
<body>
    <div class="container flex flex_col justify align">
        <p>Admin's Controls</p>
        <a class="anchor" href="/admin/addMoviesPage"><div class="addMoviesPage">Add Movies</div></a>
        <a class="anchor" href="/admin/addCelebsPage"><div class="addCelebsPage">Add Celebs</div></a>
        <a class="anchor" href="/admin/updateMoviesPage"><div class="updateMoviesPage">Update Movies</div></a>
        <a class="anchor" href="/admin/updateCelebsPage"><div class="updateCelebsPage">Update Celebs</div></a>
        <a class="anchor" href="/logout"><div class="logout">Log Out</div></a>
    </div>
</body>
</html>