<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login_page.css">
    <link rel="stylesheet" href="/css/util.css">
</head>
<body>
    <div class="container flex justify align">
        <form action="/login" method="post">
            <div class="username">
                <label for="username">Username: </label>
                <input type="text" id="username" name="userName" placeholder="Enter your username">
            </div>
            <div class="password">
                <label for="password">Password: </label>
                <input type="text" id="password" name="password" placeholder="Enter your password">
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    </div>
</body>
</html>