<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="/css/signup_page.css">
    <link rel="stylesheet" href="/css/util.css">
</head>
<body>
    <div class="container flex justify align">
        <div class="box flex align">
            <p class="heading">REGISTER</p>
            <form action="/register" method="post" enctype="multipart/form-data" class="flex align">
                <!-- Takes in username. -->
                <div class="username flex field">
                    <input type="text" id="username" name="userName" placeholder="Username" autocomplete="off">
                </div>
                <!-- Takes in email -->
                <div class="email flex field">
                    <input type="email" id="email" name="email" placeholder="Email : abc@xyz.com" autocomplete="off">
                </div>
                <!-- Takes in bio -->
                <div class="bio flex align">
                    <textarea name="bio" id="bio" rows="6" cols="35" placeholder="Say something about yourself" autocomplete="off"></textarea>
                </div>
                <!-- Takes in password -->
                <div class="password flex field">
                    <input type="text" id="password" name="password" placeholder="Password" autocomplete="off">
                </div>
                <!-- Takes in avatar -->
                <div class="avatar flex field">
                    <label for="avatar">Avatar </label>
                    <input type="file" id="avatar" name="avatar" placeholder="Avatar" autocomplete="off">
                </div>
                <!-- submit button -->
                <div class="submit flex field">
                    <input id="submit" type="submit" value="Register">
                </div>
            </form>
            <p class="last_para">Already have an account? <a href="/login_page">Login</a></p>
        </div>
    </div>
</body>
</html>